body{
    /* line-height: 0.1em; */
    height: 100vh;
    font-family: sans-serif;
}
.innercontainer{
    display: flex;
    flex-direction: column;
    border: 2px solid;
}
.header{
    display: flex;
    flex-grow:3;
    border: 2px solid blue;
    background-color: rgb(240, 25, 68);
}
.mainbody{
    display: flex;
    justify-content: space-around;
    border: 2px solid;
}
.textbox{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
}
.cross{
    align-self: flex-end;
}
.images{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid white; */
    flex-basis:30%;
}
.headertext{
    line-height: 0.5em;
    flex-grow: 1;
}
#one{
width:30%;
height:70%;
border-radius: 50%;
border: 0.3em solid white;
transform: translate(1em);
}
#two{
width:30%;
height:70%;
border-radius: 50%;
border: 0.3em solid white
}
#three{
width:30%;
height:70%;
border-radius: 50%;
border: 0.3em solid white;
transform: translate(-1em);
}
#four{
    width:40%;
height:90%;
border-radius: 50%;
border: 0.3em solid black;
}
.mainbody{
    display: flex;
    justify-content:center;
}
.profilephoto{
    border: 2px solid yellow
}